* {
    margin: 1vw;
    padding: 2vw;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.cta {
    border: none;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}
  
.cta:hover {
    opacity: 0.6;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#starting-page {
    display: block;
    background-color: cornflowerblue;
    text-align: center;
}

#question-page {
    display: none;
    background-color: cornflowerblue;
    text-align: start;
}

#highscore-page {
    display: none;
    background-color: cornflowerblue;
    text-align: center;
}